body{
    font-family: 'Redressed', cursive;
    /* margin: 5%; */
}

h1{
    font-size: 60px;
    color:  rgb(44, 179, 179);
}
p{
    font-size: 30px;
}



.half-width{
    width: 40%;
    float: left;
    margin-left: 5% ;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}




.link-button{
    text-decoration: none;
    background-image: linear-gradient(royalblue, dodgerblue);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;

}

.pink-highlight{
    color: rgb(185, 18, 107);
}
/* Style buttons */
.btn {
    background-color: rgb(58, 8, 17);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(185, 18, 107);
  }
 
   
   .salmon-highlight{
       color: salmon;
   }

    .box-part{
        box-shadow: 10px 10px 50px white;
        border-radius: 5px;
        background-color: white; 
        width: 20%;
        margin-left: 5px ;
        padding: 2px;
        float: left;
        
    }
    .image{
        width: 30%;
    }
          

    #gym{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    
    }
    #Agency{
        border-left: 7px solid;
        border-image: linear-gradient(180deg, blue, cyan);
        border-image-slice: 1;
    }
    #music{
        border-left: 7px solid;
        border-image: linear-gradient(180deg, rgb(2, 54, 22), rgb(12, 148, 148));
        border-image-slice: 1;
    }
    
  .project{
      margin: 5%;
  }

    .latest{
       border-radius: 5%;
        
        width: 100%;
        height: 800px;
        background-color: silver;
        /* border: 5px solid red; */
        display: inline-block;
        
    }
    .latest h1{
        text-align: center;
    }
    .red-highlight{
        color: red;
    }
    .green-highlight{
        color: green;
    }
    .blue-highlight{
        color: blue;
    }
    figure {
        float: left;
        width: 25%;
        text-align: center;
        font-style: italic;
        font-size: smaller;
        text-indent: 0;
        background-color: white;
        border: thin solid white;
        border-radius: 25px;
        margin-right: 2px;
        box-shadow: 10px 10px 40px gray;
        

        /* margin: 0.5em;
        padding: 0.5em; */
      }
      img.scaled {
        width: 100%;
      }

       .last-part{
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 2%;
        width: 80%;
        margin: 5%;
        height: 180px;
        float: center;
        position: relative;
        margin-top: 120px;
        margin-left: 250px;
       }
       

    .chat-btn{
        text-decoration: none;
        background-image: linear-gradient(180deg, lightsalmon, tomato);
        color: white;
        border-radius: 5px;
        padding: 10px 15px;
        width: 6%;
        
    } 
    
    .centered {
        position: absolute;
        top: 55%;
        left: 20%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 65px;
        
      }

      .container a{
        position: absolute;
        top: 60%;
        left: 700px;
        transform: translate(-50%, -50%);
    
      }

      footer p{
        text-align: center;
        font-size: 20px;
        
    }
    .brown-highlight{
        color: brown;
    }
    .icon{
        font-size: 5px;
    }